<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        td a.edit {
            color: blue;
        }
        td a.remove {
            color: red;
        }
        .edit {
            margin-right: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>

    <script>

        $(document).ready(() => {
        })

        function operateFormatter(value, row, index) {
            return [
            '<a class="edit" href="javascript:void(0)" title="Edit">',
            '<i class="glyphicon glyphicon-pencil"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-trash"></i>',
            '</a>'
            ].join('');
        }
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                $("input[name='action']").val('edit');
                $("input[name='id']").val(row.id);
                $("input[name='multiple']").val(row.multiple);
                $("select[name='difficulty']").val(row.difficulty);
                $("textarea[name='question']").val(row.question);
                $("input[name='category']").val(row.category);
                $("input[name='correct_answer']").val(row.correct_answer);
                $("input[name='incorrect_answers1']").val(row.incorrect_answers[0]);
                $("input[name='incorrect_answers2']").val(row.incorrect_answers[1]);
                $("input[name='incorrect_answers3']").val(row.incorrect_answers[2]);
                $("#questionModalLabel").html('Edit Question');
                $("#questionModal").modal('show');
            },
            'click .remove': function (e, value, row, index) {
                $("#questionId").html(row.id);
				$("#deleteBtn").off("click").on('click', () => deleteQuestion(row.id));
            	$("#deleteModal").modal('show');
            }
        }

        function newQuestion(){
            clearData();
            $("input[name='action']").val('add');
            $("#questionModalLabel").html('New Question');
            $("#questionModal").modal('show');
        }

        function logout() {
            $.post('/userAction', {
				'action': 'Logout'
			}).done((res) => {
				console.log(res)
				window.location.href = '/';
			})
        }

        function saveQuestion(){
            // const json = convertFormToJSON("#questionForm");
            const json = $("#questionForm")
                            .serializeArray()
                            .reduce(function (json, { name, value }) {
                                json[name] = value;
                                return json;
                            }, {});
            console.log(json);
            let action = $("input[name='action']").val();
            $.ajax({
                    type: action == 'add' ? "POST" : "PUT",
                    url: "admin/question",
                    data: json,
                    success: function (result) {
                        $("#save-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#save-alert").slideUp(500);
                        });
                    }
                });
            $("#questions").bootstrapTable('refresh');
            $("#questionModal").modal('hide');
        }
        function clearData(){
            $("input[name='action']").val('');
            $("input[name='id']").val('');
            $("select[name='difficulty']").val('');
            $("textarea[name='question']").val('');
            $("input[name='category']").val('');
            $("input[name='correct_answer']").val('');
            $("input[name='incorrect_answers1']").val('');
            $("input[name='incorrect_answers2']").val('');
            $("input[name='incorrect_answers3']").val('');
        }
        function deleteQuestion(id) {
			console.log(id);
            $.ajax({
                    type: "DELETE",
                    url: "admin/question",
                    data: { id },
                    success: function (result) {
                        $("#delete-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#delete-alert").slideUp(500);
                        });
                    }
                });
            $("#questions").bootstrapTable('refresh');
			$("#deleteModal").modal('hide');
        }
    </script>
</head>

<body>
    <header style="display: flex; justify-content: space-between; background-color: aqua; padding: 15px;">
        <div>Hello Admin</div>
        <div></div>
        <a href="#" onclick="logout()">Logout</a>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-success fade" id="save-alert" style="position: absolute; top: 10px; width: 100%;z-index: 10;">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Success! </strong> Question have been saved.
                </div>
				<div class="alert alert-danger fade" id="delete-alert" style="position: absolute; top: 10px; width: 100%;z-index: 10;">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    Question have been deleted!
                </div>
    </div></div></div>

    <div id="toolbar">
        <button class="btn btn-primary" data-toggle="modal" onclick="newQuestion()">New Question</button>
      </div>
    <table id="questions"
        data-toolbar="#toolbar"
        data-toggle="table" 
        data-pagination="true"
        data-page-list="[10, 25, 50, 100]"
        data-search="true"
        data-show-columns="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-buttons="buttons"
        data-url="admin/question">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="type">Type</th>
                <th data-field="difficulty" data-sortable="true">Difficulty</th>
                <th data-field="question" data-sortable="true">Question</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="correct_answer">Correct Answer</th>
                <th data-field="incorrect_answers">Incorrect Answers</th>
                <th data-field="operate" data-events="window.operateEvents"
                data-formatter="operateFormatter">Actions</th>
            </tr>
        </thead>

    </table>

	<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="questionModalLabel">New Question</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form id="questionForm" action="/question" method="post">
			<div class="form-group">
				<label for="difficulty" class="col-form-label">Difficulty:</label>
				<select name="difficulty" class="form-control" >
					<option>easy</option>
					<option>medium</option>
					<option>hard</option>
				</select>
			</div>
			<div class="form-group">
				<label for="category" class="col-form-label">Category:</label>
				<input type="text" class="form-control" name="category">
			</div>
			<div class="form-group">
				<label for="question" class="col-form-label">Question:</label>
				<textarea class="form-control" name="question"></textarea>
			</div>
			<div class="form-group">
				<label for="correct_answer" class="col-form-label">Correct Answer:</label>
				<input type="text" class="form-control" name="correct_answer">
			</div>
			<div class="form-group">
				<label for="incorrect_answers" class="col-form-label">Incorrect Answer 1:</label>
				<input type="text" class="form-control" name="incorrect_answers1">
				<label for="incorrect_answers" class="col-form-label">Incorrect Answer 2:</label>
				<input type="text" class="form-control" name="incorrect_answers2">
				<label for="incorrect_answers" class="col-form-label">Incorrect Answer 3:</label>
				<input type="text" class="form-control" name="incorrect_answers3">
			</div>
			<input type="hidden" name="id" value="">
			<input type="hidden" name="type" value="multiple">
			<input type="hidden" name="action" value="">
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" onclick="saveQuestion()">Save</button>
		</div>
		</div>
	</div>
	</div>

<!-- Delete modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete Question</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete?
				<div id="questionId"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="deleteBtn" type="button" class="btn btn-danger">Delete</button>
			</div>
		</div>
		</div>
	</div>

</body>

</html>