<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../script/game.js"></script>
    <script>
        let currentQuestion;
        let selectedDiv = null;
        let level = 'easy'
        let questionNumber = 1
        let timeoutID = null;
        let currentPrice = null

        function timeout() {
            console.log('timeout')
            timeoutID = null
            $.post('/answerQuestion', { question: JSON.stringify(currentQuestion), answer: '' })
            endGame(false)
        }

        function endGame(isWin) {
            $('#gameplay').css('visibility', 'hidden')
            $('#awards').css('visibility', 'hidden')
            if (isWin) {
                $('#success').css('visibility', 'visible')
            } else {
                $('#failure').css('visibility', 'visible')
            }
            setTimeout(() => {
                window.location.href = '/'
            }, 2000);
        }

        function answer(sender) {
            if (selectedDiv == null &&  $(sender).html().length > 0) {
                selectedDiv = sender
                let userAnswer = $(sender).html().split(": ")[1]
                $(sender).css('background-color', 'burlywood')

                $.post('/answerQuestion', { question: JSON.stringify(currentQuestion), answer: userAnswer }, function (data) {
                    console.log(data);
                    setTimeout(() => {
                        if (data.result) {
                            $(sender).css('background-color', 'green')
                            //
                            if (currentPrice != null) {
                                $(currentPrice).css('color', 'yellow')
                                $(currentPrice).css('background-color', '')
                            }
                            let prices = $('label[name="price"]')
                            currentPrice = prices[prices.length - questionNumber]
                            $(currentPrice).css('background-color', 'yellow')
                            //
                            questionNumber++
                            if (questionNumber == 6) {
                                level = 'medium'
                            } else if (questionNumber == 11) {
                                level = 'hard'
                            }

                            setTimeout(() => {
                                if (questionNumber <= 15) {
                                    getQuestion()
                                } else {
                                    endGame(true)
                                }
                            }, 4000);
                        } else {
                            $(sender).css('background-color', 'red')
                            setTimeout(() => {
                                endGame(false)
                            }, 4000);
                        }
                        //
                        playSound(data.result)
                        //
                    }, 2000);
                }).fail(function (xhr, status, error) {
                    // Handle errors
                    console.error('There was a problem with the request:', error);
                });

                //
                pauseAnimation()
            }
        }

        function getQuestion() {
            $('#audiences').css('visibility','hidden')

            if (selectedDiv != null) {
                $(selectedDiv).css('background-color', '')
                selectedDiv = null
            }

            $.get('/getQuestion', { 'level': level }, function (res) {
                currentQuestion = res

                $('h3#question').html(`Question ${questionNumber}: ` + res.question)
                let answers = res.incorrect_answers
                const randomIndex = Math.floor(Math.random() * (answers.length + 1));
                answers.splice(randomIndex, 0, res.correct_answer);
                let divs = $('div.answer')
                for (let i = 0; i < answers.length; i++) {
                    let prefix = 'D: ';
                    if (i == 0) {
                        prefix = "A: "
                    } else if (i == 1) {
                        prefix = "B: "
                    } else if (i == 2) {
                        prefix = "C: "
                    }
                    $(divs[i]).html(prefix + answers[i])
                }

                //
                resetAnimation()
            })
        }

        // Pause the animation
        function pauseAnimation() {
            if (timeoutID != null) {
                clearTimeout(timeoutID)
                timeoutID = null
            }
            $('#progress').css('animation-play-state', 'paused');
        }

        function resetAnimation() {
            $('#progress').css('animation', 'none');
            $('#progress').css('clip-path', 'polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 50% 0%)')
            setTimeout(function () {
                $('#progress').css('animation', 'countdown-fill 60s linear forwards');
                $('#progress').css('animation-play-state', 'running');
                timeoutID = setTimeout(timeout, 60000);
            }, 10);
        }

        function playSound(flag) {
            if (flag) {
                var audio = document.getElementById("rightSound");

                audio.play();
            } else {
                var audio = document.getElementById("wrongSound");

                audio.play();
            }
        }

        function chooseHelp(sender, type) {
            console.log('click click')
            $(sender).removeAttr('onclick');
            $.post('/useHelp', { type: type }, function (res) {
                $(sender).css('border-color', 'red')
                //
                if (type == 'change') {
                    pauseAnimation()
                    getQuestion()
                } else if (type == 'half') {
                    let count = 0;
                    let correctAns = currentQuestion.correct_answer
                    let divs = $('div.answer')
                    while (count < 2) {
                        const randomIndex = Math.floor(Math.random() * divs.length);
                        let divText = $(divs[randomIndex]).html()
                        if (divText.length > 0 && divText.includes(correctAns) == false) {
                            count++
                            $(divs[randomIndex]).html('')
                        }
                    }
                } else {
                    let names = ['Chi',
                    'Quyen','Son','Thinh','Sonny','Linh'
                    ,'Vien','Tom','Steven','Andrew','Micheal'
                    ,'Sean','Mike','Phong','Quang','Lucy',
                    'Phi','Lan','Jessia','Rambo','Rocky']
                    $('#audiences').css('visibility','visible')
                    let options = ['A', 'B' , 'C', 'D']
                    let counts = {}
                    let time = 300
                    for (let i = 0 ; i < names.length; i++) {
                        setTimeout(() => {
                            const randomIndex = Math.floor(Math.random() * 4);
                            let key = options[randomIndex];
                            counts[key] = counts[key] == undefined ? 1 : counts[key] + 1
                            $('#audiences').append(`<label>${names[i]}: ${key}</><br>`)
                        }, i * time);
                    }
                    setTimeout(() => {
                        let total = 0;
                        for (let key in counts) {
                            total += counts[key]
                        }
                        $('#audiences').append('<br>')
                        for (let i = 0; i < options.length ; i++) {
                            let val = parseInt((counts[options[i]] * 100) / total)
                            $('#audiences').append(`<label>${options[i]}: ${val}% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</>`)
                            if (i == 1) {
                                $('#audiences').append('<br>')
                            }
                        }
                    }, (names.length) * time );
                }
            })
        }

        $(document).ready(() => {
            pauseAnimation()
            getQuestion();
        })
    </script>
</head>

<body>
    <audio id="backgroundSound" loop autoplay>
        <source src="/sound/background.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <audio id="rightSound">
        <source src="/sound/right.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <audio id="wrongSound">
        <source src="/sound/wrong.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div id="content">
        <img id="bg" src="/images/millionaire01.jpg">
        <img id="icon" style="position: absolute;"
            src="/images/who-wants-to-be-a-millionaire-2014-millionaire-2017-game-show-quiz-android-thumbnail.png">

        <div id="gameplay">
            <div id="helps" style="padding: 20px;position: absolute; top: 0; left: 0; display: flex; gap: 20px;">
                <% if (half) { %>
                    <div onclick="chooseHelp(this,'half')"
                        style="padding-top: 8px;width: 100px; height: 30px; border-radius: 50%; border: 1px solid green;">
                        50:50</div>
                    <% } else { %>
                        <div
                            style="padding-top: 8px;width: 100px; height: 30px; border-radius: 50%; border: 1px solid red;">
                            50:50</div>
                        <% } %>

                            <% if (change) { %>
                                <div onclick="chooseHelp(this,'change')"
                                    style="padding-top: 8px;width: 100px; height: 30px; border-radius: 50%; border: 1px solid green;">
                                    Change</div>
                                <% } else { %>
                                    <div
                                        style="padding-top: 8px;width: 100px; height: 30px; border-radius: 50%; border: 1px solid red;">
                                        Change</div>
                                    <% } %>

                                        <% if (audiences) { %>
                                            <div onclick="chooseHelp(this,'audiences')"
                                                style="padding-top: 8px;width: 100px; height: 30px; border-radius: 50%; border: 1px solid green;">
                                                Audiences</div>
                                            <% } else { %>
                                                <div
                                                    style="padding-top: 8px;width: 100px; height: 30px; border-radius: 50%; border: 1px solid red;">
                                                    Audiences</div>
                                                <% } %>

            </div>
            <h3 id="question" style="text-align: center;"> This is Question</h3>
            <div id="answers">
                <div class="answer" onclick="answer(this)">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta illo tempora
                    aspernatur maxime ratione quibusdam eligendi veritatis repellendus commodi corrupti iste vero
                    nostrum asperiores, perspiciatis nihil saepe quidem assumenda odit?</div>
                <div class="answer" onclick="answer(this)">B: Answer B</div>
                <div class="answer" onclick="answer(this)">C: Answer C</div>
                <div class="answer" onclick="answer(this)">D: Answer D</div>
            </div>

            <div id="clockContain">
                <div id="timer" class="timer">
                    <div id="progress"></div>
                </div>

                <img id="clock"
                    src="/images/30-second-timer-display-in-flat-style-countdown-time-counter-in-circle-png.png">
            </div>
        </div>

        <div id="failure">You're fail!!!</div>
        <div id="success">You're millionaire!!!</div>
        <div id="awards">
            <label name="price" style="font-size: 28px;">$1.000.000</label>
            <label name="price" style="font-size: 28px;">$500.000</label>
            <label name="price" style="font-size: 26px;">$400.000</label>
            <label name="price" style="font-size: 25px;">$300.000</label>
            <label name="price" style="font-size: 24px;">$200.000</label>

            <label name="price" style="font-size: 23px;">$100.000</label>
            <label name="price" style="font-size: 22px;">$50.000</label>
            <label name="price" style="font-size: 21px;">$30.000</label>
            <label name="price" style="font-size: 20px;">$20.000</label>
            <label name="price" style="font-size: 19px;">$15.000</label>

            <label name="price" style="font-size: 18px;">$10.000</label>
            <label name="price" style="font-size: 18px;">$7.000</label>
            <label name="price" style="font-size: 18px;">$5.000</label>
            <label name="price" style="font-size: 18px;">$2.000</label>
            <label name="price" style="font-size: 18px;">$1.000</label>

        </div>
        <div id="audiences">

        </div>
    </div>
</body>

</html>