<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../css/history.css" />
		
	</head>

	<body style="padding: 0px; margin: 0px">
		<div style="position: relative">
			<img id="bg" src="/images/millionaire01.jpg" />
			<img
				id="icon"
				style="position: absolute"
				src="/images/who-wants-to-be-a-millionaire-2014-millionaire-2017-game-show-quiz-android-thumbnail.png"
			/>
			<div id="history">
				<h1
					id="historyTitle"
					style="color: red; text-align: center; margin-bottom: 20px"
				>
					Playing history of <%=username %>
				</h1>
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Score</th>
						</tr>
					</thead>
					<tbody>
						<% top10Latest.forEach(entry => { %>
						<tr>
							<td><%= entry.dateTime %></td>
							<td><%= entry.score %></td>
						</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
			<div id="backButton">
				<a href="/player"><button>Back to Player</button></a>
			</div>
		</div>
	</body>
</html>
